.requestContainer {
  padding: 20px;
  min-height: 100vh;
  background: #fafafa;
  color: #333;
  font-family: "Inter", sans-serif;
}

.requestHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  font-size: 19px;
  font-weight: 500;
}

.requestBoxTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.requestField {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.requestField label {
  margin-bottom: 6px;
  font-weight: 500;
  text-align: left;
}

.requestField select,
.requestField input,
.datePickerInput {
  height: 36px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  padding: 0 10px;
  background: #ffffff;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  font-size: 14px;
  text-align: left !important;
  padding-left: 10px !important;
}

.supplierBox {
  background: #d6e9ff;
  border: 1px solid #aecbfb;
  border-radius: 40px;
  height: 35px;
  width: 25%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 15px;
  font-weight: 500;
}

.itemBox {
  background: #dcecff;
  border: 1px solid #c5dbff;
  border-radius: 40px;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}

.datePickerInput {
  text-align: left !important;
  padding-left: 10px !important;
}

.requestField select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
  background-image: none !important;
  color: #888888;
  font-size: 14px;
}

.requestField select:hover,
.requestField input:hover,
.datePickerInput:hover {
  border-color: #b5b5b5;
}

.requestField input:disabled,
.requestField select:disabled {
  background: #ececec;
  color: #777;
  border-color: #c5c5c5;
  cursor: not-allowed;
  font-size: 14px;
}

.selectWrap {
  position: relative;
}

.selectWrap select {
  width: 100%;
  padding-right: 28px;
}

.selectIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: #666;
  font-weight: 300;
}

.requestBox {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.requestGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 20px;
}

.button {
  cursor: pointer;
}

.btnSave,
.btnSubmit,
.btnApprove,
.btnReject {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.btnSave {
  background: #d9eaff;
  border: 1px solid #aecdff;
  color: #0b2a54;
  height: 35px;
  padding: 0 18px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.btnSave:hover {
  background: #cfe2ff;
  border-color: #9fc1ff;
}

.btnSubmit {
  background: #007aff;
  color: #fff;
}

.btnApprove {
  background: #32d74b;
  color: #fff;
}

.btnReject {
  background: #ff453a;
  color: #fff;
}

.addRow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.btnAdd {
  background: none;
  border: none;
  color: #00172f;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.productHeader {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-end;
}



.requestTable {
  width: 100%;
  border-collapse: separate; /* important: ให้ไม่มีเส้นระหว่าง td */
  border-spacing: 0;          /* ช่องว่างระหว่างเซลล์ = 0 */
  border-top: 1px solid #eee; /* เส้นบน */
  border-bottom: 1px solid #eee; /* เส้นล่าง */
  border-radius: 10px;
  overflow: hidden;
}

.requestTable thead {
  background: #fff;
}

.requestTable thead th {
  padding: 12px 16px;
  text-align: left;
  font-weight: 600;
  color: #2E3A45;
  border: none; /* เอาเส้นออก */
}

.requestTable tbody td {
  padding: 10px 16px;
  font-size: 14px;
  color: #2E3A45;
  border: none; /* ไม่มีเส้นแบ่งแต่ละเซลล์ */
}

.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: #fff;
  width: 380px;
  padding: 20px;
  border-radius: 10px; 
  border: 1px solid #D9D9D9; 
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popupSelectWrap {
  position: relative;
}

.popupSelectWrap select {
  height: 36px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  padding: 0 10px;
  background: #ffffff;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  font-size: 14px;
  text-align: left !important;
  padding-left: 10px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
  color: #888888;
  cursor: pointer;

}

.popupSelectIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: #666;
  font-weight: 300;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.popupField {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.popupInputBox {
  height: 36px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  padding: 0 10px;
  background: #ffffff;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
}

.popupInput {
  height: 36px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  padding: 0 10px;
  background: #efefef;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  color: #8c8c8c;
}

.popupFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btnPopup {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
}

.cancel {
  background: #d9d9d9;
  font-size: 13px;
  cursor: pointer;

}

.save {
  background: #4695e9;
  color: #fff;
  font-size: 13px;
 cursor: pointer;

}

.req {
  color: red;
}

.errorText {
  font-size: 13px;
  color: #d10;
}

.tableEmpty {
  text-align: center;
  padding: 14px;
  color: #777;
}